<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SERVER_IP" value="192.168.1.150"/>
		<add key="SERVER_PORT" value="14000"/>
		<add key="ABS_APP_DATA_PATH" value="/LKDin_Client"/>
		<add key="ABS_DOWNLOADS_PATH" value="/LKDin_Client_Downloads"/>
	</appSettings>
</configuration>