<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SERVER_IP" value="127.0.0.1"/>
		<add key="SERVER_PORT" value="14000"/>
		<add key="ABS_APP_DATA_PATH" value="/LKDin_Server"/>
		<add key="ABS_DOWNLOADS_PATH" value="/LKDin_Server_Downloads"/>
		<add key="BROKER_HOSTNAME" value="localhost"/>
		<add key="BROKER_PORT" value="5672"/>
		<add key="BROKER_USER" value="admin"/>
		<add key="BROKER_PASS" value="admin"/>
		<add key="BROKER_QUEUE" value="server.logs"/>
		<add key="BROKER_EXCHANGE" value="lkdin.logging"/>
	</appSettings>
</configuration>